body{
    font-family: 'Roboto', sans-serif;
}
.slider-section{
    background: no-repeat  ;
    background-size: cover;
    border-radius: 5px;
}
.slider-section::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:#1E1E1E;
    opacity:0.6; 
}
@media only screen and (min-width:0px) and (max-width:767px){
    .slider-section img{
        height: 40vh !important;
    }
    .course {
         display: flex !important; 
         flex-direction: column !important;
     }
    .course img{
     width: 100% !important;
     max-width: none !important;
     height: 35vh !important;
    }
 }